Требования к фреймворку:

Java + Maven/Gradle + TestNG/Junit 5 проект + (MAVEN+TESTNG)

Для стабилизации нахождения локаторов используется библиотека Healenium (https://github.com/healenium/healenium-web) -

Подключен Allure2 +

Настроено логирование -

Реализована возможность кроссбаузерного тестирования и удаленного запуска тестов -

Реализована возможность параллельного запуска тестов +

Код проекта хранится в Git (важна частота и содержание коммитов) +

Для работы со страницами используется паттерн Page Object -

Код оформлен согласно Java Code Conventions, коментарии в стиле Javadoc приветствуются -

*Дополнительно: Настроена интеграция с CI и запуск тестов по расписанию -